<div class="container">
  <div class="row">
    
    <div class="col-md-7 col-sm-12" style="padding-right: 20px;">
    <!-- <div class="px-3 col-md-8 col-sm-12 offset-md-2 col-lg-4 offset-lg-4 mt-2"> -->
      
      <div class="text-center mb-0 mt-1 p-0">
        <h1 class="p-0 m-0">Tableros</h1>
      </div>

      <div class="container">

        <app-item-tableros *ngFor="let item of listaTableros" [item]="item" class="mb-0  ">
      
        </app-item-tableros>
              <button mat-mini-fab class ="md-fab-bottom-right fixed-bottom pull-right" 
              color="accent" (click)="openModal(template)" saria-label="Example icon button with a plus one icon">
                <mat-icon>plus_one</mat-icon>
              </button>
      
      </div>
      <ng-template #template>
        <div class="modal-body ">
          <p>Nuevo Tablero</p>
          <mat-form-field>
            <mat-label>Titulo</mat-label>
            <input matInput type="text" [(ngModel)]="tituloTablero">
            <button matSuffix mat-icon-button aria-label="Clear">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Descripcion</mat-label>
            <input matInput type="text" [(ngModel)]="descripcionTablero">
            <button matSuffix mat-icon-button aria-label="Clear">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <br>
          <button type="button" class="btn btn-primary pull-right" (click)="confirm()">Agregar</button>
         
        </div>
      </ng-template>
      
    
    </div>

    <div class="col-5 d-none d-md-block" style="padding-left: 20px; border-left: 1px solid #2F86A6">
      <app-lista-bitacora></app-lista-bitacora>
    </div>
  
  </div>
</div>
  

