<mat-card class="example-card my-2">

  <div class="row ">
    <div class="col align-self-start ">
      <mat-card-title-group>
        <mat-card-title>{{item.titulo}}</mat-card-title>
        <mat-card-subtitle>{{item.descripcion}}</mat-card-subtitle>
      </mat-card-title-group>
    </div>
    <div class="col-auto p-0 me-2 " (click)="abreTablero()">
      <div class="text-end p-0 text-success">
        <i class="far fa-edit"></i>
      </div>
    </div>
  </div>

  <mat-card-content>
    <app-item-tarea *ngFor="let item of listaTareas" [item]="item" class="mb-0  ">

    </app-item-tarea>
  </mat-card-content>
</mat-card>
