<mat-drawer-container>
  <mat-drawer #drawer mode="over" class="lateral">
    <mat-toolbar>
      <span>Menu</span>
      <br>

    </mat-toolbar>
    <p class="text-primary">{{ datosUsuario.username }}</p>
    <p class="text-primary">{{ datosUsuario.nombre_completo }}</p>
    <p class="text-primary">{{ datosUsuario.correo }}</p>
  </mat-drawer>

  <mat-toolbar>
    <button mat-icon-button (click)="drawer.toggle()" class="example-icon"
      aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>


    <span>RememberMe</span>
    <span class="example-spacer"></span>
    <div>

      <a mat-button [routerLink]="'login'" class="example-icon" *ngIf="validaUsuarioLogueado()">Login</a>
      <a mat-button class="example-icon" (click)="logout()" *ngIf="!validaUsuarioLogueado()">Logout</a>
    </div>

  </mat-toolbar>
  <app-header></app-header>
  <router-outlet></router-outlet>


</mat-drawer-container>


<!-- <mat-icon>favorite</mat-icon> -->
