<mat-drawer-container>
  <mat-drawer #drawer mode="over" class="lateral">
    <mat-toolbar>
      <span>Menu</span>
      <br>

    </mat-toolbar>

    <div class="container mt-4 mb-4 p-5 justify-content-center">
      <div class="row">
        <div class="card">
          <div class=" image d-flex flex-column justify-content-center align-items-center">

            <img src="https://picsum.photos/300/300" class="rounded-circle border border-2 border-dark z-depth-2"
              height="140" width="140">

            <span class="name mt-3">{{datosUsuario.nombre_completo}}</span> <span
              class="idd">{{datosUsuario.correo}}</span>
            <div class="d-flex flex-row justify-content-center align-items-center gap-2"> <span class="idd1">@{{
                datosUsuario.username }}</span>
            </div>

          </div>
        </div>
      </div>

      <br>
      <div class="row mt-2">
        <a class="btn btn-primary" (click)="logout()" *ngIf="!validaUsuarioLogueado()">Logout</a>
      </div>

    </div>


  </mat-drawer>

  <mat-toolbar (click)="obtubeFoco()">
    <button mat-icon-button (click)="drawer.toggle()" class="example-icon"
      aria-label="Example icon-button with menu icon">
      <img alt="My image name" src="/assets/icono.png" width="25" height="25">
    </button>


    <span>RememberMe</span>
    <span class="example-spacer"></span>
    <div class="row mt-2 p-0">
      <div class="col">
        <div class="text-white" matBadge="{{ countUnreadNotifications }}" matBadgeOverlap="true"
          *ngIf="!validaUsuarioLogueado()" class="me-3">
          <mat-icon routerLink="notification">notifications</mat-icon>
        </div>
      </div>

    </div>
    <div>

      <a mat-button [routerLink]="'login'" class="example-icon" *ngIf="validaUsuarioLogueado()">Login</a>

    </div>

  </mat-toolbar>
  <app-header (actualizarNotification)="CambiaNumNoti($event)"></app-header>
  <router-outlet (actualizarNotification)="CambiaNumNoti($event)"></router-outlet>


</mat-drawer-container>


<!-- <mat-icon>favorite</mat-icon> -->
