<mat-drawer-container>
  <mat-drawer #drawer mode="over" class="lateral">
    <mat-toolbar>
      <span>Menu</span>
      <br>

    </mat-toolbar>

    <div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
      <div class="card p-4">
        <div class=" image d-flex flex-column justify-content-center align-items-center">

          <img src="https://picsum.photos/300/300" class="rounded-circle border border-2 border-dark z-depth-2"
            height="140" width="140">

          <span class="name mt-3">{{datosUsuario.nombre_completo}}</span> <span
            class="idd">{{datosUsuario.correo}}</span>
          <div class="d-flex flex-row justify-content-center align-items-center gap-2"> <span class="idd1">{{
              datosUsuario.username }}</span> <span><i class="fa fa-copy"></i></span> </div>

        </div>
      </div>
    </div>


  </mat-drawer>

  <mat-toolbar (click)="obtubeFoco()">
    <button mat-icon-button (click)="drawer.toggle()" class="example-icon"
      aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>


    <span>RememberMe</span>
    <span class="example-spacer"></span>
    <div>

      <a mat-button [routerLink]="'login'" class="example-icon" *ngIf="validaUsuarioLogueado()">Login</a>
      <a mat-button class="example-icon" (click)="logout()" *ngIf="!validaUsuarioLogueado()">Logout</a>
    </div>

  </mat-toolbar>
  <app-header></app-header>
  <router-outlet></router-outlet>


</mat-drawer-container>


<!-- <mat-icon>favorite</mat-icon> -->
